<html>
  <head>
    <title>Neri</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="row equal">
        <div class="col-sm-4">
          <img id="bg" class="img-responsive" src="{{ url_for('video_feed') }}">
        </div>
        <div class="col-sm-8">
          <div class="row">
            <p>Hehe</p>
          </div>                
          <div class="row">
            <p>Haha</p>                
          </div>                
        </div>
      </div>
    </div>
  </body>
</html>